
.header .lk-user {
    padding-right: 36px;
    display: flex;
    align-items: center;
}
.header .lk-user__photo {
    width: 48px;
    height: 48px;
}
.header .lk-user__info {
    width: calc(100% - 48px);
    padding-left: 18px;
}
.header .lk-user__name {
    color: #fff;
}
.header .lk-user__name .icon {
    width: 12px;
    height: 12px;
    opacity: 0.6;
}
.header .lk-user p {
    color: #fff;
    opacity: 0.6;
}
.header .lk-user .logout {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0;
    width: 26px;
    height: 32px;
    margin-top: -16px;
    background: url(../img/lk-menu/logout.svg) no-repeat center;
}
.header .lk-user .logout:hover {
    opacity: 0.7;
}

.timer-blocks .logo img {
    width: 195px;
}
.timer-blocks .logo {
    margin-right: 10px;
    flex-shrink: 0;
}

@media (max-width: 735px) {
    .timer-blocks .logo img {
        width: 120px;
    }
}


.section--main {
    padding-bottom: 50px;
    background: url(../img/bg.png) no-repeat top center;
    background-size: cover;
    min-height: 100vh;
}
.timer-promocode .timer-block {
    margin-bottom: 87px;
}
.timer-block_img {
    text-align: center;
}
.timer-block_title {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    letter-spacing: -0.9px;    
    color: #000000; 
    margin-top: 46px;
}
.timer-block_text {
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #777777;
    margin-top: 19px;
}
.timer-promocode .main-content {
    background: #FFFFFF;
    padding: 95px 25px 45px;
}
.timer-blocks .main-content {
    background: #FFFFFF;
    padding: 95px 25px 140px;
}


.timer {
    display: flex;
    width: 490px;
    max-width: 100%;
    margin: 31px auto 0;
    padding: 21px 21px 18px;
    background: #FFFFFF;
    border: 1.6px solid #DADADA;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.timer-block .timer .item {    
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: bold;
    font-size: 19.2px;
    line-height: 22px;
    text-align: center;
    color: #606060;
    text-align: center;
    text-transform: uppercase;
}
.timer-block .timer .item .val {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 68px;
    line-height: 84px;
    text-align: center;    
    color: #000000;        
}


.timer-block .timer .item .val > * {
    position: relative;
    z-index: 5;
    display: block;
    overflow: hidden;
    width: 64px;
    height: 96px;
    background: linear-gradient(180deg, #F9F9F9 0%, #F6F6F6 100%);
    border: 1.6px solid #D6D6D6;
    border-radius: 8px;
}
.timer-block .timer .item .val > *:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: calc(50% + 2px);
    content: '';
    border-bottom: 2px solid #c4c4c4;
}
.timer-block .timer .item .val > *:after {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 2px;
    display: block;
    width: 58px;
    height: 13px;
    background: url(../img/holder.svg);
    content: '';
    transform: translateY(-50%);
    background-size: cover;
}
.timer-block .timer .item .val > * + * {
    margin-left: 6px;
}
.timer-block .timer .item .val + * {
    margin-top: 9px;
}



.freepromo {
    padding-top: 18px;
    border-top: 1px solid #DDDDDD;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;    
}
.freepromo .icon {
    flex-shrink: 0;
}
.freepromo_title {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.75px;    
    color: #000000;
    margin-bottom: 30px;
}
.freepromo_item {
    background: #F0EEF9;
    border-radius: 8px;
    padding: 18px 29px 18px 26px;
    margin-bottom: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.freepromo_item:last-child {
    margin-bottom: 0px;
}
.freepromo_item-right-no {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #C21919;
    margin-left: 10px;
}
.freepromo_item-right svg {
    width: 32px;
    height: 32px;
}
.freepromo_item-code {
    font-family: "Ubuntu";
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #9390AB;
}
.freepromo_item-right {
    display: flex;
}
.freepromo_item .btn-copy {
    font-family: "Ubuntu";
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #3178EF;  
    margin-right: 22px;
    text-decoration: underline;
}
.freepromo_item-right-ok {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #199A21;
    margin-left: 10px;
}




@media (max-width: 560px) {
    .timer-blocks .main-content {
        padding: 55px 25px 60px;
    }
    .timer {
        max-width: 340px;
        padding: 15px;
    }
    .timer-block .timer .item {
        font-size: 12px;
        line-height: 16px;
    }
    .timer-block .timer .item .val {
        font-size: 44px;
        line-height: 60px;
    }
    .timer-block .timer .item .val > * {
        width: 44px;
        height: 60px;
    }
    .timer-block .timer .item .val > * + * {
        margin-left: 4px;
    }
    .timer-block .timer .item .val > *:after {
        display: none;
    }
    .timer-block_title {
        font-size: 30px;
        line-height: 35px;
        margin-top: 25px;
    }
    .timer-block_text {
        font-size: 20px;
        line-height: 25px;
        margin-top: 15px;
    }
    .freepromo_item-right {
        width: 100%;
        margin-top: 15px;
        align-items: center;
        justify-content: space-between;
    }
    .freepromo_item {
        flex-wrap: wrap;
    }
    .freepromo .icon {
        margin-left: auto;
    }
    .timer-promocode .timer-block {
        margin-bottom: 40px;
    }
    .freepromo_title {
        font-size: 30px;
        line-height: 35px;
    }
    .timer-promocode .main-content {
        background: #FFFFFF;
        padding: 45px 25px 45px;
    }

}

@media (max-width: 479px) {
    .timer-blocks .main-content,
    .timer-promocode .main-content {
        padding: 30px 20px 30px;
    }
    .timer {
        max-width: 270px;
        padding: 13px;
        margin: 24px auto 0;
    }
    .timer-block .timer .item {
        font-size: 11px;
        line-height: 14px;
    }
    .timer-block .timer .item .val {
        font-size: 27px;
        line-height: 45px;
    }
    .timer-block .timer .item .val > * {
        width: 34px;
        height: 45px;
    }
    .timer-block .timer .item .val > * + * {
        margin-left: 4px;
    }
    .timer-block .timer .item .val > *:after {
        display: none;
    }
    .timer-block_title {
        font-size: 24px;
        line-height: 27px;
        margin-top: 20px;
    }
    .timer-block_text {
        font-size: 17px;
        line-height: 21px;
        margin-top: 14px;
    }
    .header .lk-user__info {
        width: calc(100% - 22px);
    }
    .header .lk-user__photo {
        display: none;
    }
    .section--main.timer-blocks {
        padding-bottom: 10px;
    }
    .freepromo_item .btn-copy {
        font-size: 19px;
        margin-right: 12px;
        text-align: start;
    }
    .freepromo_item-right svg {
        width: 20px;
        height: 20px;
    }
    .freepromo_item {
        padding: 11px 15px;
    }
    .freepromo_title {
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 20px;
    }
   

}





.footer {
    background: #35146a;
    padding: 26px 0;
    z-index: 1;
    margin: auto auto 0 auto;
    width: 100%;
}
.footer .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media (max-width: 735px) {
    .footer .container {
        display: block;
    }
}
@media (max-width: 735px) {
    .footer-col {
        text-align: center;
    }
}
.footer-col:last-child {
    text-align: right;
}
@media (max-width: 735px) {
    .footer-col:last-child {
        text-align: center;
    }
}
.footer-col__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
@media (max-width: 735px) {
    .footer-col__row {
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
.footer-link {
    margin: 3px 0;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    opacity: 0.37;
    border-bottom: 1px dashed #fff;
}
.footer-link:hover {
    opacity: 0.7;
}
.copyright {
    margin-top: 12px;
    opacity: 0.37;
    color: #fff;
}
@media (max-width: 735px) {
    .soc {
        margin-top: 12px;
    }
}
.soc a {
    margin: 12px;
    opacity: 0.37;
}
.soc a:hover {
    opacity: 1;
}
.soc a img {
    max-width: 30px;
    max-height: 20px;
}