
.header .lk-user {
    padding-right: 36px;
    display: flex;
    align-items: center;
}
.header .lk-user__photo {
    width: 48px;
    height: 48px;
}
.header .lk-user__info {
    width: calc(100% - 48px);
    padding-left: 18px;
}
.header .lk-user__name {
    color: #fff;
}
.header .lk-user__name .icon {
    width: 12px;
    height: 12px;
    opacity: 0.6;
}
.header .lk-user p {
    color: #fff;
    opacity: 0.6;
}
.header .lk-user .logout {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0;
    width: 26px;
    height: 32px;
    margin-top: -16px;
    background: url(../img/lk-menu/logout.svg) no-repeat center;
}
.header .lk-user .logout:hover {
    opacity: 0.7;
}
@media (max-width: 990px) {
    .header .lk-user {
        display: none;
    }
}
.logo img {
    width: 195px;
}
@media (max-width: 735px) {
    .logo img {
        width: 126px;
    }
}


.section--main {
    padding-bottom: 50px;
    background: url(../img/bg.png) no-repeat top center;
    background-size: cover;
    min-height: 100vh;
}



.timer-block {
    padding: 95px 95px 140px;
    background: #FFFFFF;
    box-shadow: 0px 18px 88px rgba(86, 44, 147, 0.292282);
    border-radius: 24px;
}
.timer-block_img {
    text-align: center;
}
.timer-block_title {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    letter-spacing: -0.9px;    
    color: #000000; 
    margin-top: 46px;
}
.timer-block_text {
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #777777;
    margin-top: 19px;
}
.timer-block {
    background: #FFFFFF;
    padding: 95px 95px 140px;
}


.timer {
    display: flex;
    width: 490px;
    max-width: 100%;
    margin: 0;
    padding: 21px;
    background: var(--main_color2);
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.timer-block .timer .item {    
    color: #000;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}
.timer-block .timer .item .val {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    font-family: var(--font_family);
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    color: var(--main_color2);
}
.timer-block .timer .item .val > * {
    position: relative;
    z-index: 5;
    display: block;
    overflow: hidden;
    width: 55px;
    height: 96px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}
.timer-block .timer .item .val > *:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 50%;
    content: '';
    border-bottom: 2px solid #d6d6d6;
    background: linear-gradient(180deg, #f9f9f9 0%, #f6f6f6 100%);
}
.timer-block .timer .item .val > * + * {
    margin-left: 6px;
}
.timer-block .timer .item .val + * {
    margin-top: 9px;
}
.timer-block .link {
    display: inline-block;
    margin-top: 30px;
    margin-top: 27px;
    text-align: center;
}
.timer-block .link a {
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    line-height: 37px;
    display: inline-block;
    width: 155px;
    height: 37px;
    vertical-align: top;
    text-decoration: none;
    letter-spacing: 1.32px;
    border-radius: 18px;
    background: var(--main_color1);
    box-shadow: 0 7px 17px var(--box-shadow-color);
}






.footer {
    background: #35146a;
    padding: 26px 0;
    z-index: 1;
    margin: auto auto 0 auto;
    width: 100%;
}
.footer .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media (max-width: 735px) {
    .footer .container {
        display: block;
    }
}
@media (max-width: 735px) {
    .footer-col {
        text-align: center;
    }
}
.footer-col:last-child {
    text-align: right;
}
@media (max-width: 735px) {
    .footer-col:last-child {
        text-align: center;
    }
}
.footer-col__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
@media (max-width: 735px) {
    .footer-col__row {
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
.footer-link {
    margin: 3px 0;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    opacity: 0.37;
    border-bottom: 1px dashed #fff;
}
.footer-link:hover {
    opacity: 0.7;
}
.copyright {
    margin-top: 12px;
    opacity: 0.37;
    color: #fff;
}
@media (max-width: 735px) {
    .soc {
        margin-top: 12px;
    }
}
.soc a {
    margin: 12px;
    opacity: 0.37;
}
.soc a:hover {
    opacity: 1;
}
.soc a img {
    max-width: 30px;
    max-height: 20px;
}